.App {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}


.row {
  display: flex;
  justify-content: center;
  padding: 20px;
  margin: auto;
  align-items: center;
}

.box {
  border: 1px solid #a8a8a8;
  margin: 0px 30px 0px 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
}

.box-console {
  width: 700px;
  height: 300px;
  display: flex;
  flex-direction: column-reverse;
  overflow-y: scroll;
}

.box-data {
  width: 250px;
  height: 300px;
}

.telemetry-text {
  text-align: left;
  padding: 0px 7px 0px 7px;
  font-size: 14px;
}

.debug-message {
  text-align: left;
  margin: 0px;
  padding: 5px 15px 10px 15px;
}

.debug-message:hover {
  background-color: #ececec;
}

#top-row {
  border-bottom: 1px solid #bcbcbc;
  width: 50%;
  padding: 0px;
}

#camera-div {
  width: 320px;
  height: 180px;
  background-color: black;
}

#camera-feed {
  width: 100%;
  height: 100%;
}